body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
  background: #cfcda9;
  box-shadow: 0 0 5px 1px #807d77;
  border-radius: 20px;
  max-width: 500px;
}

.register-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
  background: #cfcda9;
  box-shadow: 0 0 5px 1px #807d77;
  border-radius: 20px;
  max-width: 600px;
  padding: 5px 15px;
}

.form-question,
.form-question div {
  margin: 0 auto;
}

.login-container form {
  padding: 10px 60px;
  /* border: 1px solid grey; */
  /* border-radius: 20px; */
}

.logo {
  /* width: 120px; */
  /* display: flex; */
  margin-left: 20px;
  display: inline-block;
}

.logo span {
  color: #eab824;
  /* font-size: medium; */
  font-weight: bold;
  display: block;
}

.navbar {
  height: 100px;
  background-color: "#001529";
}

.cont {
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 183, 35, 1) 0%,
    rgba(236, 231, 214, 1) 0%,
    rgba(250, 245, 173, 1) 34%,
    rgba(217, 242, 198, 1) 69%,
    rgba(233, 246, 195, 1) 96%
  );
}

nav {
  flex: 1;
  height: 20px;
  margin-top: 40px;
  float: right;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

nav ul li a:hover {
  color: rgba(233, 183, 35, 1);
}

.menu-icon {
  width: 50px;
  cursor: pointer;
  float: right;
  margin-top: 40px;
  display: none;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.active-menu {
  color: #96b734;
}

.home-outer-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.home-container {
  /* max-height: 100%; */
  flex-grow: 1;
  background: url("./images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%;
}

.reservation-form {
  margin: 0 10%;
  padding: 20px;
  background: rgba(21, 20, 27, 0.75);
  margin-top: 10vh;
}

.home-title {
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.reservation-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.find-button {
  background: linear-gradient(
    90deg,
    rgb(43, 38, 146) 0%,
    rgba(233, 183, 35, 1) 0%,
    rgba(236, 231, 214, 1) 0%,
    rgba(250, 245, 173, 1) 34%,
    rgb(155, 233, 95) 69%,
    rgb(174, 226, 18) 96%
  );
  color: black;
}

.find-button:hover,
.find-button:focus {
  background: linear-gradient(
    90deg,
    rgb(114, 202, 111) 0%,
    rgb(98, 240, 98) 0%,
    rgb(132, 224, 132) 0%,
    rgba(250, 245, 173, 1) 34%,
    rgb(219, 235, 133) 69%,
    rgb(228, 225, 84) 96%
  );
  color: black;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: grey;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
  }
  .menu-visible {
    max-height: 130px;
  }
  .menu-hidden {
    max-height: 0px;
  }
}
